p{
    color:blue;
    font-size: 18px;
}
.skill{
    background-color: greenyellow;
    padding: 10px;
}
#main-heading{
    color:orange;
    text-align: center;
}
.projects p{
    color:purple;

}
.contact >p{
    color:coral;
    font-weight: bold;
}
h2 + p{
    background-color:darkslateblue;
    color:coral;
    font-weight:bold;
    border: 2px solid black;
}